body	{
	background-color: #121212;
	color: white;
}
#main	{
	width: 100%;
	margin: 0;
}


#navbar-container	{
	width: 100%;
	position: relative;
}
#main-navbar	{
	background-color: rgb(114, 137, 218);
	overflow: hidden;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li  {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 0.625em 1.25em;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover  {
  background-color: #2c2f33;
}
#main-navbar #onpage {
  background-color: #000000;
  text-decoration: underline;
}

#heading {
	font-family: 'Trispace', sans-serif;	
	color: white;
	text-align: center;
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;;
}

#title2	{
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3	{
	font-family: 'Trispace', sans-serif;	
}


#main-container	{
	background-color: #d80000;
	width: 50%;
	position: relative;
	padding: 0.5em 2em;
	margin-left: auto;
	margin-right: auto;
}

#main-container2	{
	background-color: rgb(114, 137, 218);
	font-family: 'Libre Baskerville', serif;	
	width: 960px;
	position: relative;
	padding: 0.25px 50px;
	margin-left: auto;
	margin-right: auto;
}

#main-container3	{
	background-color: green;
	width: 50%;
	position: relative;
	padding: 0.5em 2em;
	margin-left: auto;
	margin-right: auto;
}

h3	{
	text-decoration: underline;
	font-style: italic;
}

p	{
	font-size: 15px;
}

.volunteers	{
	width: 960px;
	position: relative;
}

.groups	{
	width: 100%;
}

.yt	{
	width: 100%;
}
.mpic	{
	width: 25%;
}
.pic	{
	width: 50%;
	float: right;
}

.desc	{
	float: left;
	padding: 0.5em 0;
}
